canvas {
  border: 1px solid white;
}

body {
  background-color: #000;
}

button {
  color: #00ff9f;
  background-color: #000;
  border: 2px solid #00ff9f;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 100px;
}

button:hover {
  color: #000;
  background-color: #00ff9f;
}

button:active {
  border: 2px solid #fff;
}

canvas {
  box-shadow: 0px 0px 50px #00b8ff;
  display: block;
  border-radius: 25px;
}

canvas:active {
  box-shadow: 0px 0px 100px #00b8ff;
}

canvas:focus {
  outline: none;
}

#canva {
  background-color: white;
}

#smallcanvas {
  display: none;
}

.result {
  font-weight: bold;
  text-align: center;
  color: #00b8ff;
  display: block;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00b8ff;
}

::-webkit-scrollbar-track {
  background: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
